.card-title{
    font-weight: 500 !important;
    font-size: 32px !important;
    padding: 20px 10px 20px 20px;
}

.container{
    max-width: 100%;
    height: 100vh;
    overflow: scroll;
    position: relative;
}

.card-content{
    padding: 10px 0 10px 0 !important;
}

.responsive-img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-size: 2.28rem;
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem 0;
    font-weight: 300;
}

.left-align {
    text-align: left;
    padding-left: 20px;
}